.photos_section {
    width: 100%;
    padding-top: 64px;
}

.title_section {
    font-weight: 400;
    font-size: 32px;
}

.container {
    width: 100%;
    max-width: 1468px;
    margin: 0 auto;
}

.photos {
    padding-top: 32px;
    columns:3 250px;
    gap: 15px;
}

.showMore {
    padding: 15px 50px;
    color: #fff;
    border: 0;
    border-radius: 7px;
    font-size: 16px;
    background-color: #111;
    margin-top: 32px;
    cursor: pointer;
}
